@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

@section AddToHead {
    <link type="text/css" rel="stylesheet" href="~/Content/stylesheets/register.css" />
}

<script>
    isBusy(true);
    firebase.database().ref('/events/@ViewBag.id').once('value').then((result) => {
        eventData(result.val());
        gameList(eventData().games.split(','));
        eventId("@ViewBag.id");
        loadComplete(true);
        isBusy(false);
    })
</script>

<div id="page-header" class="row">
    <div class="col-xs-12">
        <h1 class="pull-right page-header-text"><span class="page-header-decoration">//</span>Register</h1>
    </div>
</div>

<!-- ko if: loadComplete() -->

<h1 data-bind="text: eventData().name"></h1>

<div id="game-select" class="row">
    <div class="col-xs-12">
        <h4 class="game-select-text">Pick a game</h4>
    </div>
    <div class="col-xs-12">
        <!-- ko foreach: gameList -->
        <div class="col-xs-3">
            <img class="game-select-item" width="100%" data-bind="attr: { src: '/Content/img/register/' + $data + '.png', id: $data + '-item' }, click: function(){ $parent.showForm($data); }" />
        </div>
        <!-- /ko -->
    </div>
</div>

<div class="row section-separator"></div>

<div id="register-form" class="row" data-bind="css: formVisible() ? 'form-shown' : 'form-hidden'">
    <div class="col-xs-12">
        <div id="hearthstone-form-container" data-bind="template: { name: 'hearthstone-form' }"></div>
    </div>
</div>

<div class="row section-separator"></div>

<div id="confirm-section" class="row" data-bind="css: confirmCheckout() ? 'form-shown' : 'form-hidden'">
    <div class="col-xs-12">
        <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="col-xs-8">
                <h1 style="color: white; margin-top: 5px;">Double check the information above</h1>
            </div>

            <div class="col-xs-4">
                @* Example link: https://blog.artemlos.net/posts/a-simple-way-to-integrate-paypal-into-asp-net-mvc-4/ *@
                @* Production action="https://www.paypal.com/cgi-bin/webscr" *@
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <fieldset>
                        <input class="full-width" type="hidden" name="business" value="support@yugen.gg" />
                        <input type="hidden" name="cmd" value="_xclick" />
                        <input type="hidden" name="item_name" value="Hearthstone Registration" />
                        <input type="hidden" name="amount" data-bind="attr: { value: eventData().entryPrice }" />
                        <input type="hidden" name="no_shipping" value="1" />
                        <input type="hidden" name="notify_url" value="http://yugen.gg/Payment/IPN" />
                        <input type="hidden" name="custom" data-bind="attr: { value: registrationId }" />

                        <button class="btn btn-primary highlights-button register-button pull-right" type="submit">Checkout</button>
                        <button class="btn btn-link pull-right cancel-btn" data-bind="click: $data.cancelClick">Cancel</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /ko -->

<script id="hearthstone-form" type="text/html">
    <div class="row">
        @* Basic Information *@
        <div class="col-xs-12 col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <h3>Basic Information</h3>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input type="text" class="alpaca-control form-control" placeholder="first name" data-bind="value: hearthstoneObject.basicInfo.firstName, disable: confirmCheckout" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input type="text" class="alpaca-control form-control" placeholder="last name" data-bind="value: hearthstoneObject.basicInfo.lastName, disable: confirmCheckout" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="alpaca-control form-control" placeholder="email" data-bind="value: hearthstoneObject.basicInfo.email, disable: confirmCheckout" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="alpaca-control form-control" placeholder="phone" data-bind="value: hearthstoneObject.basicInfo.phone, disable: confirmCheckout" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <input type="text" class="alpaca-control form-control" placeholder="battleid" data-bind="value: hearthstoneObject.basicInfo.battleId, disable: confirmCheckout" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Deck Class Selection *@
        <div class="col-xs-12 col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <h3>Deck Class Selection</h3>
                </div>
            </div>
        </div>

        @* Deck Lists *@
        <div class="col-xs-12 col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <h3>Deck Lists</h3>
                </div>
            </div>
        </div>

        @* Register *@
        <div class="col-xs-12 col-md-3 register-button-container">

            <button class="btn btn-primary highlights-button register-button pull-right" data-bind="click: $data.registerClick, visible: confirmCheckout() == false">Next</button>
        </div>
    </div>
</script>

<script type="text/javascript" src="~/Scripts/Pages/Register.js"></script>