#about-section {
    background-color: #1abece;
    padding: 30px;
}

#join-yugen {
    background-color: #415ba6;
    padding: 30px;
}

.about-title {
    color: white;
}

.about-text {
    color: white;
}