#title-section {
    background-color: #415ba6;
    padding: 30px;
}

#events-section {
    background-color: #ef3b4f;
    padding: 60px;
}

#social-media-section {
    background-color: #415ba6;
    padding: 60px;
}

.highlights-button {
    background-color: #fcb437;
    border: 2px solid white;
    border-radius: 0px;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.event-panel {
    padding: 0px;
}

.event-panel-body {
    padding-top: 15px;
}

#event-body-image {
    height: 600px;
    background-color: green;
}

.view-all-text {
    font-family: 'Bebas';
    letter-spacing: 2px;
    margin-top: 0px;
}

#social-media-header {
    color: white;
}

.sm-cta {
    color: white;
    margin-top: 30px;
}

.sm-cta h4 {
    margin-bottom: 0px;
}

.sm-cta p {
    letter-spacing: 2px;
}

#email-textbox {
    display: inline-block;
}

.highlights-button.email-button {
    font-size: 1em;
    padding: 6px 15px;
    letter-spacing: 2px;
    margin-top: 1px;
}