body {
    background-color: #f6f6f6;
    font-family: 'Bebas';
}

.panel {
    border-radius: 0px;
}

.yugen-nav {
    background-image: url("/content/img/layout/header.jpg");
    background-position: center;
    height: 100px;
}

.title-row {
    margin-top: 70px;
}

.yugen-logo {
    width: 175px;
}

#menu-items li a {
    background-color: #fcb437;
    margin-right: 25px;
    font-family: 'Bebas';
    padding: 10px 40px;
    font-size: 1.3em;
    letter-spacing: 2px;
}

#menu-items {
    margin-top: 75px;
}