@{
    ViewBag.Title = "About";
}

@section AddToHead {
    <link type="text/css" rel="stylesheet" href="~/Content/stylesheets/about.css" />
}

<div id="page-header" class="row">
    <div class="col-xs-12">
        <h1 class="pull-right page-header-text"><span class="page-header-decoration">//</span>About Yugen</h1>
    </div>
</div>
<div id="about-section" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="about-title">Who we are</h1>

        <div class="about-body" data-bind="html: aboutText"></div>
    </div>
</div>

<div class="row section-separator"></div>

<div id="join-yugen" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3 class="about-title">Want to get in touch with us? Let's talk, we don't bite (often)!</h3>
        <p>A contact form will go here eventually</p>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Pages/About.js"></script>