@{
    ViewBag.Title = "Home";
}

@section AddToHead {
    <link type="text/css" rel="stylesheet" href="~/Content/stylesheets/index.css" />
}

<div id="title-section" class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="row text-center">
            <div class="col-xs-12">
                <img src="~/Content/img/index/logo-large.png" width="100%" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary highlights-button pull-right">HIGHLIGHTS</button>
            </div>
        </div>
    </div>
</div>

<div class="row section-separator"></div>

<div id="events-section" class="row">
    <div id="event-list" class="col-xs-12 col-md-3">
        <div class="panel">
            <div class="panel-body event-panel">
                <div class="row">
                    <div class="col-xs-4"><img src="~/Content/img/index/example-event.jpg" class="img-responsive" height="100" /></div>
                    <div class="col-xs-8 event-panel-body">
                        Hello world
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                Hello world
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                Hello world
            </div>
        </div>
    </div>
    <div id="event-body" class="hidden-xs col-md-9">

    </div>
</div>