@{
    ViewBag.Title = "Home";
}

@section AddToHead {
    <link type="text/css" rel="stylesheet" href="~/Content/stylesheets/index.css" />
}

<div id="title-section" class="row hidden-xs">
    <div id="title-container">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <div class="row text-center">
                <div class="col-xs-12">
                    <img src="~/Content/img/index/logo-large.png" width="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @*<button type="button" class="btn btn-primary highlights-button pull-right">HIGHLIGHTS</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row section-separator"></div>

<div id="events-section" class="row hidden-xs">
    <div id="event-list" class="col-xs-12 col-md-3">
        <!-- ko foreach: eventsArray -->
        <div class="panel" data-bind="css: $index() != 0 ? 'inactive-event' : 'active-event', click: function(){ $parent.eventClick($data) }, attr: { id: $data.id }">
            <div class="panel-body event-panel">
                <div class="row">
                    <div class="col-xs-4">
                        <img class="img-responsive" height="100" data-bind="attr: { src: $data.eventThumb }" />
                    </div>
                    <div class="col-xs-8 event-panel-body">
                        <h2 data-bind="text: $data.name" style="margin-top: 0px;"></h2>
                        <p data-bind="text: $data.date" style="margin-bottom: 0px;"></p>
                        <p data-bind="text: $data.locationShort"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        @*<h3 class="view-all-text pull-right">VIEW ALL</h3>*@
    </div>
    <div id="event-body" class="hidden-xs col-md-9">
        <div class="panel row">
            <div class="panel-body event-panel">
                <div id="event-body-image" class="col-xs-4" data-bind="style: { backgroundImage: 'linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(' + mainEventData.mainEventHeader() + ')', backgroundPosition: '50% 100%' }">

                </div>
                <div class="col-xs-8 event-panel-body main-event-panel">
                    <div class="row">
                        <div class="col-xs-8">
                            <h1 data-bind="text: mainEventData.mainEventTitle" style="margin-bottom: 0px;"></h1>
                            <span data-bind="text: mainEventData.date"></span><br />
                            <span data-bind="text: mainEventData.locationShort"></span>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary highlights-button register-button pull-right" data-bind="click: function(){ $data.registerClick(mainEventData.id) }">Register</button>
                        </div>
                    </div>

                    <div class="row">
                        <div data-bind="html: mainEventData.longDescription" class="secondary-font col-xs-12" style="margin-top: 30px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="events-section" class="row visible-xs" style="padding-left: initial; padding-right: initial">
    <div class="col-xs-12">
        <!-- ko foreach: eventsArray -->
        <div class="event-container">
            <div class="panel mobile-panel" data-bind="css: $index() != 0 ? 'inactive-event' : 'active-event', click: function(){ $parent.eventClick($data) }, attr: { id: $data.id + '-mobile' }">
                <div class="panel-body">
                    <h2 data-bind="text: $data.name" style="margin-top: 10px; margin-bottom: 0px;"></h2>
                    <span data-bind="text: $data.date"></span>
                </div>
            </div>
            <div class="mobile-details">
                <span data-bind="text: $data.locationShort"></span>
                <span data-bind="click: function(){ $parent.registerClick(mainEventData.id) }" class="pull-right" style="color: white;">View Details</span>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

<div class="row section-separator"></div>

<div id="social-media-section" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 id="social-media-header">Get in on the action now!</h1>
        <div class="sm-cta">
            <h4>Want to get more Yugen?</h4>
            <p>Make sure you don't miss a thing by following us on Twitter, Facebook, and email updates!</p>
            <input id="email-textbox" type="text" class="alpaca-control form-control" placeholder="email address" data-bind="value: $data.emailText" />
            <button type="button" class="btn btn-primary highlights-button email-button" data-bind="click: $data.mailingClick">Level Up</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Pages/Index.js"></script>