@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rules";
}

@section AddToHead {
    <link type="text/css" rel="stylesheet" href="~/Content/stylesheets/rules.css" />

}

<div id="page-header" class="row">
    <div class="col-xs-12">
        <h1 class="pull-right page-header-text"><span class="page-header-decoration">//</span>Rule Sets</h1>
    </div>
</div>

<div id="rules-container-1" class="row rules-container">
    <div class="text-center col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="game-title">Hearthstone</h1>
        <article class="text-collapsible secondary-font text-left">
            <span class="rules-heading">Swiss Standard Conquest:</span>

            <p>Players will compete in a standard Swiss Tournament, where they will compete over the internet to determine the ‘Round of Eight’ over 5 rounds of Swiss (i.e., the eight finishers based on match scores from the Swiss `Tournament)</p>
            
            <p>All matches inside a round must be completed at which point all new pairings for the upcoming round will be made based on the results of the previous round. 
            These pairings will be based on the Swiss record of the players through the tournament. Starting with the players with the best record, 
            players are randomly paired against other players with the same record that they have not played previously in the tournament. If there are no players left with the same record, 
            the remaining player will be paired against a random player with the next best record. This process continues until there are no matches able to be created.
             Any remaining player receives a bye. Ties will be determined by a set of tie breakers determined by the organizer. 5 Rounds will advance this way at which point the 
            Round of 8 will be determined by the 8 players with the best Swiss Match Record. Any players with the same match record will be ranked according to their tie breakers. 
            Once in the Round of 8 the next Stage will begin which will be a single elimination 8 player bracket. Players will be seeded into this bracket based off their match scores 
            from the Swiss Tournament Round.</p>

            <span class="rules-heading">Conquest: </span>
           
             <p>When a player wins a game, the winning player cannot use the class that was used for that game for the remainder of the match. The player that loses a game can keep the same class or switch to a different class at his/her choice, with such a switch being a “blind” as to his/her opponent’s chosen class. The first player to win four games wins the match.</p>

            <span class="rules-heading">Buckeye Brawl Specific / Game Forfeitures: </span>

            <p>For all matches, each player will use Hearthstone card decks that he/she has created (using cards he/she has collected) on the Americas region servers on Battle.net. Card decks created on other regions’ servers are not eligible for play in Tour matches, unless a different ruling is decided by the Blizzard Esports team.</p>

            <p>After the first game in a match begins, if a player leaves the match lobby, or cancels the “game challenge,” or leaves the Hearthstone game client for any reason, it is considered a match forfeiture and the opposing player will win the match.</p>

            <p>Similarly, once the starting hands are provided by the Hearthstone game client, if a player leaves the game for any reason, the player is considered to have forfeited the game. If a player selects a deck with a class that he or she used to win a previous game in the match, that game is considered a loss and forfeited</p>
        </article>
        <a id="read-more-1" class="read-more-link" href="javascript:void(0)" data-bind="click: function() { toggleShow('read-more-1') }">Read More</a>
    </div>
</div>

<div class="row section-separator"></div>

<div id="rules-container-2" class="row rules-container">
    <div class="text-center col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="game-title">Smash 4</h1>
        <article class="text-collapsible secondary-font text-left">
            <span class="rules-heading">Match Layout</span>
            <p>Each game will last 6 minutes with each player starting with 2 stock. Matches will be won when one player wins 2 matches (Best of 3).</p>
            
            <span class="rules-heading">Tournament Structure</span>
            <p>The tournament will be a double elimination tournament with no items, no custom characters/moves, no handicaps, damage ratio set to 1x, and pausing will be disabled.</p>

            <span class="rules-heading">Stages</span>
            <p>First stage will be decided via rock paper scissors, witht he loser choosing the next stage. Stage much be agreed upon by contestants every time.</p>
            <p>Stages allowed: <ul>
                <li>Battlefield</li>
                <li>Dream Land 64</li>
                                   <li>Final Destination</li>
                                   <li>Smashville</li>
                                   <li>Town &amp; City</li>
                <li>Lylat Cruise</li>
                <li>&Omega; Midgar</li>
                <li>&Omega; Suzaku Castle</li>
                <li>&Omega; Wily Castle</li>
                </ul></p>

            <span class="rules-heading">Character Selection</span>
            <p>Amiibo will be banned. Mii Fighters are allowed as default guest characters.</p>

            <span class="rules-heading">Controllers</span>
            <p>Controllers must be disconnected before and after matches.</p>
            <p>Permitted Controllers: <ul>
                <li>Gamecube</li>
                <li>Wii U Pro</li>
                <li>Wii U Gamepad</li>
                <li>Wii Remote Variations</li>
                </ul></p>
        </article>
        <a id="read-more-2" class="read-more-link" href="javascript:void(0)" data-bind="click: function() { toggleShow('read-more-2') }">Read More</a>
    </div>
</div>

<div class="row section-separator"></div>

<div id="rules-container-3" class="row rules-container">
    <div class="text-center col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="game-title">League of Legends</h1>
        <article class="text-collapsible secondary-font text-left">
            <span class="rules-heading">Registration</span>
            <p>
                <ol>
                    <li>Players must have ownership of the account(s) registered.</li>
                    <li>Up to two subsitute players may be registered on the roster. They may NOT be registered as part of any other team.</li>
                    <li>Up to one (1) Team Manager may be provided on the team registration. The team manager cannot be used as an additional substitute slot.</li>
                    <li>
                        Rosters:
                        <ol>
                            <li>Participants must register as a premade team of 5-7.</li>
                            <li>Team Captains of Team managers are responsible for registration and providing accurate information of all the players on the roster.</li>
                            <li>Rosters are locked and cannot be changed after the team plays its first game.</li>
                            <li>Any player who is not listed on a team's roster is considered ineligible to play.</li>
                        </ol>
                    </li>
                    <li>Players must be able to attend the LAN event in order to be eligible</li>
                </ol>
            </p>

            <span class="rules-heading">Tournament Structure</span>
            <p>
                <ol>
                    <li>
                        The tournament will have one stage:
                        <ol>
                            <li>The LAN will be held starting on September 30, at 10AM in the Ohio Union's Great Hall at The Ohio State University.</li>
                            <li>The tournament will be a Best of 1 throughout the entirety of the tournament, with the semi-finals being Best of 3, and finals being Best of 5. *Note: Finals may be changed to Best of 3 depending on time.</li>
                            <li>Finals will start 15 minutes after the end of the last semi-final game.</li>
                            <li>Matches will be allotted 1 hour to be played. Therefore, rounds will begin ever 1 hour, with the exception of a break for dinner.</li>
                        </ol>
                    </li>
                </ol>
            </p>

            <span class="rules-heading">Scheduling Rules</span>
            <p>
                LAN and Finals
                <ol>
                    <li>
                        General Schedule
                        <ol>
                            <li>Players will be afforded at least ten minutes between matches.</li>
                            <li>If a team is still missing a player 10 minutes after the allotted 10 minute break, the team will lose a ban, and will continue to lose one ban every 5 minutes up to 3 bans, after which, the team will be disqualified.</li>
                            <li>The tournament will begin at 11:00AM Eastern Time. Check-in will begin at 10:00AM and end at 10:45AM.</li>
                            <li>If a position in the bracket is empty because the winning team was disqualified, it will be filled by the losing team of that game.</li>
                        </ol>
                    </li>
                </ol>
            </p>

            <span class="rules-heading">Match Rules</span>
            <p>
                Game Format: All games must be played using hte Tournament Draft Mode through a custom game lobby on the PVP.net client.
                <ol>
                    <li>Only 5 players are allowed to enter the match for each team. Spectators (other than administrators or coaches) are not allowed for the online match.</li>
                    <li>Teams using an illegal substitute or ineligible player as described above will be disqualified.</li>
                    <li>Lobby Host can start the game when both teams have indicated they are ready in lobby chat.</li>
                    <li>Any team missing players may elect to play with fewer than five players, forfeit the game, or forfeit the entire match. If the team elects to forfeit a single game, they will have an additional 15 minutes for the missing player to arrive.</li>
                </ol>
            </p>

            <span class="rules-heading">Gameplay</span>
            <p>
                <ol>
                    <li>
                        Pauses:
                        <ol>
                            <li>Each team is allowed fifteen minutes of pause time.</li>
                            <li>Disruptions include: unintentional disconnection, server instability, computer or peripheral malfunction, or other unavoidable interruption.</li>
                            <li>The opposing team may allow for pauses longer than fifteen minutes.</li>
                            <li>Both teams must confirm readiness before pause resume.</li>
                        </ol>
                    </li>
                    <li>
                        Chat Function:
                        <ol>
                            <li>All chat should be used minimally to talk with the other team. Communications should be limited to sportsmanline conduct, communication regarding pauses, and rule clarifications.</li>
                            <li>Unsportsmanlike conduct will not be tolerated and will result in a disqualification.</li>
                        </ol>
                    </li>
                    <li>
                        Restrictions:
                        <ol>
                            <li>Any champion that is released after or 1 week prior to the tournament will be unavailable for use throughout the tournament.</li>
                            <li>If a crash occurs during picks and bans, teams may decide whether to re-pick entirely or maintain the same picks up until the point of the crash.</li>
                            <li>If a glitch in the client occurs and runes, summoner spells, and/or masteries of a player did not get locked, then your team is allowed one restart per set and must be done before the 1 minute mark of the game.</li>
                        </ol>
                    </li>
                    <li>
                        Side Picks: 
                        <ol>
                            <li>Best of 1: The team on the top of the bracket ("Home Team") has choice of side.</li>
                            <li>Best of 3: The Home Team has choice of side for games 1 and 3, while Away Team has choice for game 2.</li>
                            <li>Best of 5: Home Team has has choice of side for games 1 and 3, while Away Team has choice for game 2 and 4. Game 5 will be decided by a coin toss performed by an administrator.</li>
                        </ol>
                    </li>
                    <li>
                        Fatal Errors:
                        <ol>
                            <li>A game may be restarted if disruptions occur before first blood or 3 minutes into the game.</li>
                            <li>In the case of game crashes, the team will recreate the games with the same bans and picks.
                            <ol>
                                <li>If the crash is a result of an item bug, the player must change their loadout.</li>
                                <li>If the crash is confirmed to be a result of a specific champion, the teams will recreate the game with new picks and bans.</li>
                                </ol></li>
                            <li>If a match cannot be played out due to server instability, the match will be rescheduled to another date.</li>
                            <li>Any stoppage of play resulting in server instability must be confirmed by third party sources, such as time-stamped Riot or forum posts.</li>
                        </ol>
                    </li>
                    <li>
                        Disruptive Play:
                        <ol>
                            <li>Unfair play or misbehavior will result in immediate suspension of th eoffending player(s) from the tournament and their team(s) may face disqualification at the discretion of administrators depending on the number and severity of infractions. This includes, but is not limited to, the following list:
                                <ol>
                                    <li>Unsportsmanlike conduct. This includes, but is not limited to:
                                    <ol>
                                        <li>Either team excessively calling premature 'gg'</li>
                                        <li>Offensive language</li>
                                        <li>Inappropriate use of /all chat function</li>
                                        <li>General 'Bad Manners'</li>
                                        <li>Abuse of the pause function (aka Puppey Pause)</li>
                                        <li>Intentional disconnection without prior communication</li>
                                        <li>Colluding with another player or team</li>
                                        <li>Use of cheats</li>
                                        </ol></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </p>

            <span class="rules-heading">Administrative Decisions</span>
            <p>
                <ol>
                    <li>
                        Email:
                        <ol>
                            <li>Emails sent through the administrator can make any executive decision not covered in the rules.</li>
                        </ol>
                    </li>
                    <li>
                        LAN and Finals
                        <ol>
                            <li>Any decisions made by administrators are final.</li>
                            <li>Any issues that are not covered above in the rules are left to the discretion of the administrators.</li>
                            <li>If an individual believes that an administrator has made an error, either by mistake or malice, they are to make a first attempt to resolve it privately with that administrator. If no resolution can be found, please message Yugen directly at <a href="mailto:ben@yugen.gg">ben@yugen.gg</a> to request an internal investigation.</li>
                        </ol>
                    </li>
                </ol>
            </p>
        </article>
        <a id="read-more-3" class="read-more-link" href="javascript:void(0)" data-bind="click: function() { toggleShow('read-more-3') }">Read More</a>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Pages/Rules.js"></script>