@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rules";
}

@section AddToHead {
    <link type="text/css" rel="stylesheet" href="~/Content/stylesheets/rules.css" />

}

<article id="league-rules-container" class="text-collapsible" style="padding-top: 70px;">
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
    Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world<br />
</article>
<a href="javascript:void(0)" data-bind="click: function() { toggleShow('league-rules-container') }, text: leagueReadMore()"></a>

<script type="text/javascript" src="~/Scripts/Pages/Rules.js"></script>