body {
    background-color: #f6f6f6;
    font-family: 'Bebas';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas';
    letter-spacing: 2px !important;
}

.primary-yellow-text {
    color: #fcb437;
}

.primary-violet-text {
    color: #415ba6;
}

.panel {
    border-radius: 0px;
}

.yugen-nav {
    background-image: url("/content/img/layout/header.jpg");
    background-position: center;
    height: 100px;
}

.title-row {
    margin-top: 70px;
}

.yugen-logo {
    width: 175px;
}

#menu-items li a {
    background-color: #fcb437;
    margin-right: 25px;
    font-family: 'Bebas';
    padding: 10px 40px;
    font-size: 1.3em;
    letter-spacing: 2px;
}

#menu-items {
    margin-top: 75px;
}

input.alpaca-control {
    padding: 10px;
}

.form-control:focus {
    border-bottom-color: #fcb437 !important;
    box-shadow: 0 1px #fcb437 !important;
}

.form-control {
    box-shadow: 0 1px white !important;
}