#game-select {
    background-color: #415ba6;
    padding: 60px
}

.game-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;}

.game-list-item {
    width: 15%;
    margin-right: 40px;

    transition: width 0.5s;
}

.game-select-text {
    color: white;
    margin-top: -50px;
    margin-left: -60px;
}

.game-item-active {
    width: 20%;
}

.game-item-active img {
    filter: grayscale(0%) !important;
}

.game-select-item {
    filter: grayscale(90%);
    cursor: pointer;
    transition: filter 0.25s;
}

.game-select-item:hover {
    filter: grayscale(0%);
}

#register-form {
    background-color: #ef3b4f;
    max-height: 0px;
    transition: max-height 1s 0.1s;
    overflow: hidden;
}

.form-hidden {
    max-height: 0px;
}

.form-shown {
    max-height: 1000px !important;
}

#hearthstone-form-container, #league-form-container, #overwatch-form-container, #smash-form-container, #general-form-container, #smash-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#hearthstone-form-container input, #league-form-container input, #overwatch-form-container input, #smash-form-container input, #general-form-container input, #smash-form input {
    border-bottom-color: #415ba6;
    max-width: initial;
    margin-top: 15px;
}

.highlights-button {
    background-color: #fcb437;
    border: 2px solid white;
    border-radius: 0px;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.register-button-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#confirm-section {
    background-color: #1abece;
    transition: max-height 0.75s;
    overflow: hidden;
}

#confirm-section h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cancel-btn {
    color: white;
    font-size: 21px;
}

.deck-class-select {
    margin-top: 15px;
}

#event-info {
    background-color: #1abece;
}

.event-info-container {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.player-label {
    margin-top: 23px;
    margin-bottom: 0px;
}

.team-separator {
    margin-bottom: 0px;
}