.text-collapsible {
    overflow: hidden;
    width: 100%;
    transition: max-height 3s ease;
    max-height: 160px;
}

.text-collapsible.text-expanded {
    max-height: 10000px;
}

.rules-container {
    padding: 30px;
    background-color: #1abece;
}

#rules-container-1 {
    background-color: #1abece;
}

article {
    color: white;
    margin-bottom: 25px;
}

a {
    color: #415ba6;
    font-size: 1.2em;
}

a:hover {
    color: #fcb437;
}

.game-title {
    text-align: center;
    color: #2b4e6f;
}

.rules-heading {
    font-weight: bold;
    font-size: 1.2em;
    color: #2a6496;
    text-decoration: underline;
}