.text-collapsible {
    height: inherit;
    overflow: hidden;
    width: 100%;
    transition: none;
    max-height: 160px;
}

.text-collapsible.text-expanded {
    max-height: 10000px;
    transition: max-height 5s ease;
}

.rules-container {
    padding: 30px;
    background-color: #1abece;
}

#rules-container-2 {
    background-color: #fcb437;
}

#rules-container-2 p, #rules-container-2 ul {
    color: black;
}

article {
    color: white;
    margin-bottom: 25px;
}

a {
    color: #415ba6;
    font-size: 1.2em;
}

/*a:hover {
    color: #fcb437;
}*/

.game-title {
    text-align: center;
    color: #2b4e6f;
}

.rules-heading {
    font-weight: bold;
    font-size: 1.2em;
    color: #2a6496;
    text-decoration: underline;
}

